body
{
	font-size: 15pt;
	padding:   0 !important;
	margin:    0 !important;
}
#editor
{
	padding:          0       !important;
	margin:           0       !important;
	padding:          0       !important;
	background-color: #2A2C41 !important;
	color:            #E5E6FA !important;
	width:            100vw   !important;
	height:           75vh    !important;
	overflow:         scroll  !important;
	line-height: 12px !important;
}
#editor code
{
	font-size: 12px !important;
	tab-size:  3    !important;
}
#editor code:focus
{
	outline: none !important;
}
#terminal
{
	margin:           0      !important;
	padding:          0      !important;
	padding-bottom:   16px   !important;
	background-color: black  !important;
	color:            white  !important;
	width:            100vw  !important;
	height:           19vh   !important;
	overflow:         scroll !important;
}
#terminal code
{
	font-size:   12px !important;
	tab-size:    3 !important;
}
#in
{
	width:      100vw !important;
	height:     5vh   !important;
	background: black !important;
	color:      white !important;
	margin:     0 !important;
	padding:    0 !important;
	border:     none            !important;
	border-top: 1px solid white !important;
	tab-size:   3               !important;
	font-size:  14px            !important;
}
input:focus
{
	outline: none !important;
}
#run 
{
	position: absolute !important;
	right: 10% !important;
	top: 90vh !important;
	transform: translate(0%, -50%) !important;
	width: 7.5vh  !important;
	height: 7.5vh !important;
}